<a href="https://colab.research.google.com/github/RainaVardhan/Data-Science-Systems-HW-Labs/blob/main/ETL_Data_Processor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
! python -m pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [170]:
import numpy as np
import pandas as pd
import sqlite3

In [171]:
# Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

# Creating the Movies table
conn.execute('''CREATE TABLE IF NOT EXISTS Movies (
                id INTEGER PRIMARY KEY UNIQUE,
                title TEXT,
                description TEXT,
                genre TEXT,
                release_year INTEGER,
                cast TEXT,
                duration TEXT
            )''')

#Creating the Shows table
conn.execute('''CREATE TABLE IF NOT EXISTS Shows (
                id INTEGER PRIMARY KEY UNIQUE,
                title TEXT,
                description TEXT,
                genre TEXT,
                release_year INTEGER,
                cast TEXT,
                seasons TEXT
            )''')

#Creating the MovieRatings table
conn.execute('''CREATE TABLE IF NOT EXISTS MovieRatings (
                id INTEGER PRIMARY KEY,
                movie_id INTEGER,
                title TEXT,
                imdb_id TEXT,
                imdb_rating REAL,
                imdb_votes INTEGER,
                FOREIGN KEY (movie_id) REFERENCES Movies(id)
              )''')

#Creating the ShowRatings table
conn.execute('''CREATE TABLE IF NOT EXISTS ShowRatings (
                id INTEGER PRIMARY KEY,
                show_id INTEGER,
                title TEXT,
                imdb_id TEXT,
                imdb_rating REAL,
                imdb_votes INTEGER,
                FOREIGN KEY (show_id) REFERENCES Shows(id)
              )''')

#Creating the MovieGenres table
conn.execute('''CREATE TABLE IF NOT EXISTS MovieGenres (
                id INTEGER PRIMARY KEY,
                genre TEXT,
                movie_id INTEGER,
                movie_title TEXT,
                FOREIGN KEY (movie_id) REFERENCES Movies(id)
            )''')

#Committing changes to the Database
conn.commit()

#Closing the connection to the Database
conn.close()

In [172]:
#Loading CSV file into pandas DataFrames
netflix = pd.read_csv('/content/data_files/netflix_titles.csv')

#Filters the DataFrame so that it only looks at the TV shows
shows = netflix[netflix['type'] == 'TV Show']

#Limits the data to only the first 10 rows
shows = shows.head(10)

#Connecting to the SQLite database
conn = sqlite3.connect('movies_and_shows.db')

#Creating a cursor to execute SQL commands
cursor = conn.cursor()

#Looping through the each row in the DataFrame to insert data into the Shows table in the Database
for index,row in shows.iterrows():
    cursor.execute('''INSERT INTO Shows (title, description, genre, release_year, cast, seasons)
                      VALUES (?, ?, ?, ?, ?, ?)''', (
                        row['title'],
                        row['description'],
                        row['listed_in'],
                        row['release_year'],
                        row['cast'],
                        row['duration']
                  ))

#Committing changes to the Database
conn.commit()

#Closing the connection to the Database
conn.close()

In [173]:
#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Querrying the data from the Shows table to convert it to a DataFrame (asked chat how to do this)
query = f"SELECT * FROM Shows"
data = pd.read_sql_query(query, conn)

#Closing the connection to the Database
conn.close()

#Exporting the DataFrame to a CSV file
data.to_csv('shows_table.csv', index=False)

In [174]:
import os
import datetime
import json
import pymongo
import pprint

#Connecting the MongoDB with these parameters
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

#Creating a MongoDB client using the Atlas connection string
conn_str = {
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

#Accessing the sample_mflix database and its movies collection
db_name = "sample_mflix"
db = client[db_name]
db.list_collection_names()
collection = db['movies']

#Finding all the entries in the movies collection and turning it into a list
data = collection.find()
data_list = list(data)

#Limits the list to only take the first 10 entries
data_list = data_list[:10]

In [175]:
from bson import ObjectId

#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Creating a cursor to execute SQL commands
cursor = conn.cursor()

#Looping through the list of movie data from the MongoDB to insert movie data into the Movie table
for movie in data_list:

    #Joining the list of genres and list of cast memebers into single strings separated by commas (asked chat how to do this)
    genres_str = ', '.join(movie.get('genres', []))
    cast = movie.get('cast',[])

    #Checking that cast has valid values
    if isinstance(cast, list):
      cast_str =', '.join(cast)
    else:
      cast = None

    cursor.execute('''INSERT INTO Movies (title, description, genre, release_year, cast, duration)
                      VALUES (?, ?, ?, ?, ?, ?)''', (
                          movie.get('title'),
                          movie.get('plot'),
                          genres_str,
                          movie.get('year'),
                          cast_str,
                          movie.get('runtime')
                  ))

#Committing changes to the Database
conn.commit()

#Closing the connection to the Database
conn.close()

In [176]:
#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Querrying the data from the Movies table to convert it to a DataFrame (asked chat how to do this)
query = f"SELECT * FROM Movies"
data = pd.read_sql_query(query, conn)

#Closing the connection to the Database
conn.close()

#Exporting the DataFrame to a CSV file
data.to_csv('movies_table.csv', index=False)

In [177]:
import requests

#API key details
api_key = '56100165'

#Base URL and parameters for the OMDb API request
def get_api_data(title, api_key):
  base_url = 'http://www.omdbapi.com/'
  params = {
      't': title,
      'apikey': api_key
  }
  try:
    response = requests.get(base_url, params=params)
    response.raise_for_status()
  except requests.exceptions.HTTPError as errh:
    return "An Http Error occurred: " + repr(errh)
  except requests.exceptions.ConnectionError as errc:
    return "An Error Connecting to the API occurred: " + repr(errc)
  except requests.exceptions.Timeout as errt:
    return "A Timeout Error occurred: " + repr(errt)
  except requests.exceptions.RequestException as err:
    return "An Unknown Error occurred: " + repr(err)
  return response.json()

In [178]:
#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Creating a cursor to execute SQL commands
cursor = conn.cursor()

#Getting the titles from Movies and Shows tables
cursor.execute("SELECT title FROM Movies")
fetch = cursor.fetchall()
movies_titles = []
for row in fetch:
  movies_titles.append(row[0])

cursor.execute("SELECT title FROM Shows")
fetch = cursor.fetchall()
shows_titles = []
for row in fetch:
  shows_titles.append(row[0])

#Creating lists to store the movie and show data
movie_data = []
show_data = []

#Getting movie data from OMDb API and adding it to the movie_data list
for title in movies_titles:
    data = get_api_data(title, api_key)
    print(data)
    if data:
        movie_data.append(data)

#Getting show data from OMDb API and adding it to the show_data list
for title in shows_titles:
    data = get_api_data(title, api_key)
    if data:
        show_data.append(data)

#Converting movie_data and show_data lists into DataFrames
movie_ratings = pd.DataFrame(movie_data)
show_ratings = pd.DataFrame(show_data)

#Committing changes to the Database
conn.commit()

#Closing the connection to the Database
conn.close()

{'Title': 'Where Are My Children?', 'Year': '1916', 'Rated': 'Approved', 'Released': '01 May 1916', 'Runtime': '62 min', 'Genre': 'Drama', 'Director': 'Phillips Smalley, Lois Weber', 'Writer': 'Lucy Payton, Franklyn Hall, Lois Weber', 'Actors': 'Tyrone Power Sr., Mrs. Tyrone Power, Marie Walcamp', 'Plot': "A District Attorney's outspoken stand on abortion lands him in trouble with the local community.", 'Language': 'None, English', 'Country': 'United States', 'Awards': '1 win', 'Poster': 'https://m.media-amazon.com/images/M/MV5BM2UxNTNiYjYtYjZkYy00MzI0LWExZWItZDZhOWEzNWFkZGMzXkEyXkFqcGdeQXVyMTk2MzI2Ng@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.2/10'}], 'Metascore': 'N/A', 'imdbRating': '6.2', 'imdbVotes': '855', 'imdbID': 'tt0007558', 'Type': 'movie', 'DVD': '25 Feb 2020', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Cops', 'Year': '1989–2023', 'Rated': 'TV-14', 'Released': '11 Mar 1989', 'Runtime': '1 min', 'Genre': 'Action, Crime, Reality-TV', 'Director': 'N/A', 'Writer': 'John Langley, Malcolm Barbour', 'Actors': 'Ruben Barela, Andrew Fincher, Alex Cox', 'Plot': 'Camera crews follow police officers while they work.', 'Language': 'English, Spanish, German, Russian', 'Country': 'United States', 'Awards': 'Nominated for 4 Primetime Emmys. 2 wins & 5 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYzFmODRmYTMtNjZkMS00ZjdkLThlZjgtMjM1NzEzZTgxM2JmXkEyXkFqcGdeQXVyNDIzMzcwNjc@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'}], 'Metascore': 'N/A', 'imdbRating': '6.9', 'imdbVotes': '7,075', 'imdbID': 'tt0096563', 'Type': 'series', 'totalSeasons': '33', 'Response': 'True'}
{'Title': 'Wild Oranges', 'Year': '1924', 'Rated': 'Passed', 'Released': '20 Jan 1924', 'Runtime': '88 min', 'Genre': 'Drama, Romance', 'Director': 'King Vidor', 'Writer': 'Joseph Hergesheimer, King Vidor, Tom Miranda', 'Actors': 'Frank Mayo, Virginia Valli, Ford Sterling', 'Plot': "Millie Stope lives with her grandfather on a remote island. Her grandfather fled there for political reasons. But they're not alone. An escaped prisoner, Nicholas, is terrorizing them, and further more, he's interested in Mllie. J...", 'Language': 'None, English', 'Country': 'United States', 'Awards': '3 wins', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYjE0M2JjZmEtMDc5YS00M2UyLTg5N2YtZWYyYzZmZGE0NTFkXkEyXkFqcGdeQXVyNDY1NzU5NjY@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.7/10'}], 'Metascore': 'N/A', 'imdbRating': '6.7', 'imdbVotes': '563', 'imdbID': 'tt0015498', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Chiamami Salomè', 'Year': '2006', 'Rated': 'N/A', 'Released': '09 May 2008', 'Runtime': '96 min', 'Genre': 'Drama', 'Director': 'Claudio Sestieri', 'Writer': 'Claudio Sestieri', 'Actors': 'Giovanni Agrò, Riccardo Cicogna, Carolina Felline', 'Plot': 'Herod is a Neapolitan boss who runs The Last Emperor, an infamous local, and Herodias is his vicious partner. Salomè is a young, immature and beautiful girl, desired by many men including her stepfather Herod. John is a protester ...', 'Language': 'Italian', 'Country': 'Italy', 'Awards': 'N/A', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjg3NTUwMTA5MV5BMl5BanBnXkFtZTgwODU3MTQxNTE@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.0/10'}], 'Metascore': 'N/A', 'imdbRating': '5.0', 'imdbVotes': '24', 'imdbID': 'tt0497024', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Black Legion', 'Year': '1937', 'Rated': 'Passed', 'Released': '30 Jan 1937', 'Runtime': '83 min', 'Genre': 'Crime, Drama, Film-Noir', 'Director': 'Archie Mayo, Michael Curtiz', 'Writer': 'Abem Finkel, William Wister Haines, Robert Lord', 'Actors': 'Humphrey Bogart, Ann Sheridan, Dick Foran', 'Plot': "A hard-working machinist loses a promotion to a Polish-born worker, he's seduced into joining the secretive Black Legion, which intimidates foreigners through violence.", 'Language': 'English', 'Country': 'United States', 'Awards': 'Nominated for 1 Oscar. 2 wins & 1 nomination total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZmU5MGQ2M2MtYmRlMy00MDY1LWFiZWQtYTdjOWMxYzdjMWEzXkEyXkFqcGdeQXVyMjUxODE0MDY@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'}, {'Source': 'Rotten Tomatoes', 'Value': '100%'}], 'Metascore': 'N/A', 'imdbRating': '6.9', 'imdbVotes': '3,891', 'imdbID': 'tt0027367', 'Type': 'movie', 'DVD': '23 May 2016', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Strike Up the Band', 'Year': '1940', 'Rated': 'Passed', 'Released': '27 Sep 1940', 'Runtime': '120 min', 'Genre': 'Comedy, Musical, Romance', 'Director': 'Busby Berkeley', 'Writer': 'John Monks Jr., Fred F. Finklehoffe, Herbert Fields', 'Actors': 'Mickey Rooney, Judy Garland, Paul Whiteman', 'Plot': 'A high-school boy wants to become a professional musician, and his gal pal wants to become his best girl. They work together staging big-band shows with fellow classmates in the hopes of hitting it big.', 'Language': 'English', 'Country': 'United States', 'Awards': 'Won 1 Oscar. 1 win & 2 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMzQ4YmY0YjctODkyOS00OGEzLTgyZjYtYjU4ZTU1MjlkMDhmXkEyXkFqcGdeQXVyNTE4MzAyNDk@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.8/10'}, {'Source': 'Metacritic', 'Value': '59/100'}], 'Metascore': '59', 'imdbRating': '6.8', 'imdbVotes': '1,894', 'imdbID': 'tt0033110', 'Type': 'movie', 'DVD': '01 Apr 2012', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'The Magnificent Ambersons', 'Year': '1942', 'Rated': 'Not Rated', 'Released': '10 Jul 1942', 'Runtime': '88 min', 'Genre': 'Drama, Romance', 'Director': 'Orson Welles, Fred Fleck, Robert Wise', 'Writer': 'Booth Tarkington, Orson Welles, Joseph Cotten', 'Actors': 'Tim Holt, Joseph Cotten, Dolores Costello', 'Plot': 'The spoiled young heir to the decaying Amberson fortune comes between his widowed mother and the man she has always loved.', 'Language': 'English', 'Country': 'United States', 'Awards': 'Nominated for 4 Oscars. 4 wins & 4 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BOTQ4Y2I5MzYtNDJkZS00YTFmLWJkODctMmU3YzQ3ZDhkMWE5XkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '89%'}, {'Source': 'Metacritic', 'Value': '93/100'}], 'Metascore': '93', 'imdbRating': '7.6', 'imdbVotes': '26,639', 'imdbID': 'tt0035015', 'Type': 'movie', 'DVD': '01 Apr 2012', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': "The Bells of St. Mary's", 'Year': '1945', 'Rated': 'Unrated', 'Released': '21 Feb 1946', 'Runtime': '126 min', 'Genre': 'Drama', 'Director': 'Leo McCarey', 'Writer': 'Dudley Nichols, Leo McCarey', 'Actors': 'Bing Crosby, Ingrid Bergman, Henry Travers', 'Plot': "At a big city Catholic school, Father O'Malley and Sister Benedict indulge in friendly rivalry, and succeed in extending the school through the gift of a building.", 'Language': 'English, Latin, Swedish', 'Country': 'United States', 'Awards': 'Won 1 Oscar. 6 wins & 8 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYWYyZjk5OGEtZTFhNS00OTg0LWJjNWEtYjlkOTQ1MjM1N2ZkXkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.2/10'}, {'Source': 'Rotten Tomatoes', 'Value': '85%'}], 'Metascore': 'N/A', 'imdbRating': '7.2', 'imdbVotes': '9,253', 'imdbID': 'tt0037536', 'Type': 'movie', 'DVD': '09 Aug 2020', 'BoxOffice': '$21,333,333', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'La nao Capitana', 'Year': '1947', 'Rated': 'N/A', 'Released': '09 Dec 1949', 'Runtime': '87 min', 'Genre': 'Drama', 'Director': 'Florián Rey', 'Writer': 'Ricardo Baroja, Manuel Tamayo', 'Actors': 'Paola Barbara, Manuel Luna, José Nieto', 'Plot': 'The Capitana ship departs from Seville to the West Indies. There travel don Antonio, his wife Estrella and their daughters Leonor and Trinidad. On the high seas a stowaway is discovered, a Moorish in love with Estrella, who, in co...', 'Language': 'Spanish', 'Country': 'Spain', 'Awards': '2 wins', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNTgwZTg3ZWQtY2M1NS00NTY4LThlOTktNGQ1ZTIyN2E2OWQ5L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTkyMzkxODQ@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.9/10'}], 'Metascore': 'N/A', 'imdbRating': '5.9', 'imdbVotes': '18', 'imdbID': 'tt0039653', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Samson and Delilah', 'Year': '1949', 'Rated': 'Approved', 'Released': '21 Sep 1950', 'Runtime': '134 min', 'Genre': 'Drama, Family, History', 'Director': 'Cecil B. DeMille', 'Writer': 'Jesse Lasky Jr., Fredric M. Frank, Harold Lamb', 'Actors': 'Hedy Lamarr, Victor Mature, George Sanders', 'Plot': 'When strongman Samson rejects the love of the beautiful Philistine woman Delilah, she seeks vengeance that brings horrible consequences they both regret.', 'Language': 'English', 'Country': 'United States', 'Awards': 'Won 2 Oscars. 7 wins & 5 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNmE1NTg5OWQtYzcwNi00ZDFkLWJmZjgtNDM3ZjZiODAxYmE2XkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '56%'}], 'Metascore': 'N/A', 'imdbRating': '6.8', 'imdbVotes': '8,910', 'imdbID': 'tt0041838', 'Type': 'movie', 'DVD': '01 May 2012', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}

In [179]:
#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Creating a cursor to execute SQL commands
cursor = conn.cursor()

#Looping thorugh each row in the movie_ratings DataFrame to insert movie rating data into the MovieRatings table
for index,row in movie_ratings.iterrows():

    #Getting the movie id from the Movies table that corresponds to the title
    cursor.execute("SELECT id FROM Movies WHERE title = ?", (row['Title'],))
    movie_id = cursor.fetchone()

    #Checking if the movie_id exists
    if movie_id:
        movie_id = movie_id[0]
        cursor.execute('''INSERT INTO MovieRatings (movie_id, title, imdb_id, imdb_rating, imdb_votes)
                          VALUES (?, ?, ?, ?, ?)''', (
                              movie_id,
                              row['Title'],
                              row['imdbID'],
                              row['imdbRating'],
                              row['imdbVotes'],
                      ))

#Committing changes to the Database
conn.commit()

#Closing the connection to the Database
conn.close()

In [180]:
#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Creating a cursor to execute SQL commands
cursor = conn.cursor()

#Looping thorugh each row in the show_ratings DataFrame to insert show rating data into the ShowRatings table
for index,row in show_ratings.iterrows():

    #Getting the show id from the Shows table that corresponds to the title
    cursor.execute("SELECT id FROM Shows WHERE title = ?", (row['Title'],))
    show_id = cursor.fetchone()

    # Check if the show_id exists
    if show_id:
        show_id = show_id[0]
        cursor.execute('''INSERT INTO ShowRatings (show_id, title, imdb_id, imdb_rating, imdb_votes)
                          VALUES (?, ?, ?, ?, ?)''', (
                              show_id,
                              row['Title'],
                              row['imdbID'],
                              row['imdbRating'],
                              row['imdbVotes'],
                      ))

#Committing changes to the Database
conn.commit()

#Closing the connection to the Database
conn.close()

In [181]:
#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Querrying the data from the MovieRatings table to convert it to a DataFrame (asked chat how to do this)
query = f"SELECT * FROM MovieRatings"
data = pd.read_sql_query(query, conn)

#Closing the connection to the Database
conn.close()

#Exporting the DataFrame to a CSV file
data.to_csv('movies_ratings_table.csv', index=False)

In [182]:
#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Querrying the data from the ShowRatings table to convert it to a DataFrame (asked chat how to do this)
query = f"SELECT * FROM ShowRatings"
data = pd.read_sql_query(query, conn)

#Closing the connection to the Database
conn.close()

#Exporting the DataFrame to a CSV file
data.to_csv('show_ratings_table.csv', index=False)

In [183]:
# Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

# Creating a cursor to execute SQL commands
cursor = conn.cursor()

# Looping through each row in the combined_data DataFrame to store data in the dictionary
for index, row in movie_ratings.iterrows():
    title = row['Title']

    # Splitting the genres into a list
    genres = row['Genre']
    if isinstance(genres, str):
        genres = genres.split(', ')
    else:
        genres = []

    # Finding the movie id from the Movies table that match the title
    cursor.execute("SELECT id FROM Movies WHERE title = ?", (title,))
    movie_id = cursor.fetchone()

    # Checking if movie_id is valid values
    if movie_id:
        movie_id = movie_id[0]
    else:
        movie_id = None

    # Looping through the genres to update the dictionary to show the movie titles and ids based on the genre
    for genre in genres:
        if movie_id:
            cursor.execute('''INSERT INTO MovieGenres (genre, movie_id, movie_title)
                              VALUES (?, ?, ?)''', (
                                  genre,
                                  movie_id,
                                  title,
                          ))

# Committing changes to the Database
conn.commit()

# Closing the connection to the Database
conn.close()

In [185]:
#Connecting to the SQLite Database
conn = sqlite3.connect('movies_and_shows.db')

#Querrying the data from the ShowRatings table to convert it to a DataFrame (asked chat how to do this)
query = f"SELECT * FROM MovieGenres"
data = pd.read_sql_query(query, conn)

#Closing the connection to the Database
conn.close()

#Exporting the DataFrame to a CSV file
data.to_csv('movie_genres_table.csv', index=False)

In [189]:
!pip install pyMysql

Requirement already satisfied: pyMysql in /usr/local/lib/python3.10/dist-packages (1.1.0)

In [195]:
import pymysql
import warnings

warnings.filterwarnings('ignore')

#MySQL Database connection parameters
host = "datatbase.ds2002.org"
user = 'cdw3pe'
pwd = "cdw3pe!"
db_name = "cdw3pe"

#Connecting to the MySQL Database
conn = pymysql.connect(host=host, user=user, password=pwd, database=db_name)

#Creating a cursor to execute SQL commands
cursor = conn.cursor()

#Selecting the genre to find the average IMDb rating and the count of movies for each genre
sql_query = """
SELECT movie_genre.genre, AVG(movie_rating.imdb_rating) AS avg_rating, COUNT(movie.id) AS movie_count
FROM MovieGenres movie_genre
JOIN Movies movie ON movie_genre.movie_id = movie.id
JOIN MovieRatings movie_rating ON movie.id = movie_rating.movie_id
GROUP BY movie_genre.genre;
"""

#Executing and storing the SQL query
cursor.execute(sql_query)
results = cursor.fetchall()

#Printing the results from the SQL query
for row in results:
    genre = row[0]
    avg_rating = row[1]
    movie_count = row[2]
    print(f"Genre: {genre}, Average Rating: {avg_rating}, Movie Count: {movie_count}")

#Closing the cursor and connection
conn.close()

Genre: Drama, Average Rating: 6.9, Movie Count: 5
Genre: Action, Average Rating: 6.9, Movie Count: 1
Genre: Crime, Average Rating: 6.9, Movie Count: 1
Genre: Reality-TV, Average Rating: 6.9, Movie Count: 1
Genre: Romance, Average Rating: 7.033333333333334, Movie Count: 3
Genre: Comedy, Average Rating: 6.8, Movie Count: 1
Genre: Musical, Average Rating: 6.8, Movie Count: 1
Genre: Family, Average Rating: 6.8, Movie Count: 1
Genre: History, Average Rating: 6.8, Movie Count: 1