<a href="https://colab.research.google.com/github/RainaVardhan/Data-Science-Systems-HW-Labs/blob/main/JSONManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
import numpy as np
import pandas as pd
url = "https://raw.githubusercontent.com/jasonwnc/ds2002s24/main/2.%20Python/coll%20bb_SortByConf.json"

In [ ]:
#Q2
df = pd.read_json(url)
df = pd.json_normalize(df['teams'])
print(df)

     tid  cid  did                region        name abbrev  pop  \
0    159    0    0        Boston College      Eagles     BC  161
1    105    0    0               Clemson      Tigers   CLEM  215
2    109    0    0         Florida State   Seminoles    FSU  211
3     18    0    0            Louisville   Cardinals     UL  302
4     31    0    0  North Carolina State    Wolfpack   NCST  289
..   ...  ...  ...                   ...         ...    ...  ...
315  297   19   39                 Omaha   Mavericks  OMAHA   23
316  240   19   39               Houston     Cougars    HOU   80
317   88   19   39               Memphis      Tigers   MEMP  232
318  212   19   39                Tulane  Green Wave    TUL  108
319  287   19   39       Houston Baptist     Huskies    HBU   33

                   city state  latitude  longitude
0         Chestnut Hill    MA    42.330    -71.166
1               Clemson    SC    34.678    -82.839
2           Tallahassee    FL    30.442    -84.298
3            Louisville    KY    38.250    -85.766
4               Raleigh    NC    35.786    -78.682
..                  ...   ...       ...        ...
315               Omaha    NE    41.259    -96.005
316             Houston    TX    29.718    -95.339
317             Memphis    TN    35.119    -89.937
318         New Orleans    NO    29.935    -90.122
319  Greater Sharpstown    TX    29.694    -95.515

[320 rows x 11 columns]

In [ ]:
#Q3.
print(df.head(100))

    tid  cid  did                region       name  abbrev  pop  \
0   159    0    0        Boston College     Eagles      BC  161
1   105    0    0               Clemson     Tigers    CLEM  215
2   109    0    0         Florida State  Seminoles     FSU  211
3    18    0    0            Louisville  Cardinals      UL  302
4    31    0    0  North Carolina State   Wolfpack    NCST  289
..  ...  ...  ...                   ...        ...     ...  ...
95  300    5   11    Jacksonville State  Gamecocks  JVILLE   20
96   72    6   12    Eastern Washington     Eagles   EWASH  248
97  139    6   12      Sacramento State    Hornets   SACST  181
98  239    6   12     Northern Colorado      Bears   NOCOL   81
99  266    6   12                 Idaho    Vandals      UI   54

             city state  latitude  longitude
0   Chestnut Hill    MA    42.330    -71.166
1         Clemson    SC    34.678    -82.839
2     Tallahassee    FL    30.442    -84.298
3      Louisville    KY    38.250    -85.766
4         Raleigh    NC    35.786    -78.682
..            ...   ...       ...        ...
95   Jacksonville    AL    33.815    -85.760
96         Cheney    WA    47.488   -117.578
97     Sacramento    CA    38.555   -121.468
98        Greeley    CO    40.416   -104.716
99         Moscow    ID    46.730   -117.000

[100 rows x 11 columns]

In [ ]:
#Q4a.
print(df.shape[0])

320

In [ ]:
#Q4b.
print(df[df['state']=='VA'].shape[0])

13

In [ ]:
#Q4c.
duplicate = df[df.duplicated('name', keep=False)]
duplicate['name'].value_counts()>1
print(duplicate['name'].value_counts())

Bulldogs         13
Eagles           10
Tigers            9
Panthers          8
Wildcats          8
Huskies           5
Aggies            4
Bears             4
Rams              4
Cougars           4
Hawks             4
Spartans          4
Golden Eagles     4
Cardinals         4
Owls              4
Cowboys           3
Terriers          3
Redhawks          3
Hornets           3
Bobcats           3
Pirates           3
Mountaineers      3
Broncos           3
Vikings           3
Trojans           3
Jaguars           3
Knights           2
Highlanders       2
Bulls             2
Dukes             2
Colonials         2
Catamounts        2
Buccaneers        2
Raiders           2
Bison             2
Mustangs          2
Mavericks         2
49ers             2
Gaels             2
Roadrunners       2
Bisons            2
Lumberjacks       2
Lions             2
Titans            2
Phoenix           2
Crusaders         2
Bruins            2
Pioneers          2
Rebels            2
Gamecocks         2
Wolverines        2
Falcons           2
Name: name, dtype: int64