<a href="https://colab.research.google.com/github/RainaVardhan/Data-Science-Systems-HW-Labs/blob/main/MongoLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
! python -m pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [63]:
#Exercise 1
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [64]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")
client.list_database_names()

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

['AlbertHuang_class',
 'AlyssaRask_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'KevinZhang_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'RainaVardhanapu_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'TenzinNargee_class',
 'ValynGrebe_class',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anne_class',
 'api_project',
 'blog',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'rushvi_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

In [65]:
#Exercise 2
db_name = "RainaVardhanapu_class"
db = client[db_name]
client.list_database_names()

['AlbertHuang_class',
 'AlyssaRask_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'KevinZhang_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'RainaVardhanapu_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'TenzinNargee_class',
 'ValynGrebe_class',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anne_class',
 'api_project',
 'blog',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'rushvi_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

In [66]:
db.list_collection_names()

['students']

In [67]:
#Exercise 3
student = {"name": "Michael Scott",
           "student ID": "boss12",
           "year": "4th year",
           "major": "Business",
           "age": "22"}
students = db.students
students.insert_one(student)

InsertOneResult(ObjectId('6600f366f050139e2477158f'), acknowledged=True)

In [68]:
new_students = [{"name": "Dwight Schrute",
               "student ID": "beats3",
               "year": "2nd year",
               "major": "Computer Science",
               "age": "19"
               },
                {"name": "Jim Halpert",
               "student ID": "jimpam",
               "year": "2nd year",
               "major": "Communications",
               "age": "19"
               },
                {"name": "Pam Beesley",
               "student ID": "artsy4",
               "year": "2nd year",
               "major": "Visual Arts",
               "age": "19"
               },
                {"name": "Toby Flenderson",
               "student ID": "hr567",
               "year": "3rd year",
               "major": "Psychology",
               "age": "20"
               },
                {"name": "Oscar Martinez",
               "student ID": "actuly",
               "year": "1st year",
               "major": "Math",
               "age": "18"}]
students.insert_many(new_students)

InsertManyResult([ObjectId('6600f369f050139e24771590'), ObjectId('6600f369f050139e24771591'), ObjectId('6600f369f050139e24771592'), ObjectId('6600f369f050139e24771593'), ObjectId('6600f369f050139e24771594')], acknowledged=True)

In [69]:
#Exercise 4
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('6600f366f050139e2477158f'),
 'age': '22',
 'major': 'Business',
 'name': 'Michael Scott',
 'student ID': 'boss12',
 'year': '4th year'}
{'_id': ObjectId('6600f369f050139e24771590'),
 'age': '19',
 'major': 'Computer Science',
 'name': 'Dwight Schrute',
 'student ID': 'beats3',
 'year': '2nd year'}
{'_id': ObjectId('6600f369f050139e24771591'),
 'age': '19',
 'major': 'Communications',
 'name': 'Jim Halpert',
 'student ID': 'jimpam',
 'year': '2nd year'}
{'_id': ObjectId('6600f369f050139e24771592'),
 'age': '19',
 'major': 'Visual Arts',
 'name': 'Pam Beesley',
 'student ID': 'artsy4',
 'year': '2nd year'}
{'_id': ObjectId('6600f369f050139e24771593'),
 'age': '20',
 'major': 'Psychology',
 'name': 'Toby Flenderson',
 'student ID': 'hr567',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771594'),
 'age': '18',
 'major': 'Math',
 'name': 'Oscar Martinez',
 'student ID': 'actuly',
 'year': '1st year'}

In [70]:
for student in students.find( {"name" : "Jim Halpert"} ):
    pprint.pprint(student)

{'_id': ObjectId('6600f369f050139e24771591'),
 'age': '19',
 'major': 'Communications',
 'name': 'Jim Halpert',
 'student ID': 'jimpam',
 'year': '2nd year'}

In [71]:
#Exercise 5
students.update_one({"name": "Pam Beesley"}, {"$set": {"name": "Pam Halpert"}})
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('6600f366f050139e2477158f'),
 'age': '22',
 'major': 'Business',
 'name': 'Michael Scott',
 'student ID': 'boss12',
 'year': '4th year'}
{'_id': ObjectId('6600f369f050139e24771590'),
 'age': '19',
 'major': 'Computer Science',
 'name': 'Dwight Schrute',
 'student ID': 'beats3',
 'year': '2nd year'}
{'_id': ObjectId('6600f369f050139e24771591'),
 'age': '19',
 'major': 'Communications',
 'name': 'Jim Halpert',
 'student ID': 'jimpam',
 'year': '2nd year'}
{'_id': ObjectId('6600f369f050139e24771592'),
 'age': '19',
 'major': 'Visual Arts',
 'name': 'Pam Halpert',
 'student ID': 'artsy4',
 'year': '2nd year'}
{'_id': ObjectId('6600f369f050139e24771593'),
 'age': '20',
 'major': 'Psychology',
 'name': 'Toby Flenderson',
 'student ID': 'hr567',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771594'),
 'age': '18',
 'major': 'Math',
 'name': 'Oscar Martinez',
 'student ID': 'actuly',
 'year': '1st year'}

In [72]:
students.update_many({"year": "2nd year"}, {"$set": {"year": "3rd year"}})
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('6600f366f050139e2477158f'),
 'age': '22',
 'major': 'Business',
 'name': 'Michael Scott',
 'student ID': 'boss12',
 'year': '4th year'}
{'_id': ObjectId('6600f369f050139e24771590'),
 'age': '19',
 'major': 'Computer Science',
 'name': 'Dwight Schrute',
 'student ID': 'beats3',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771591'),
 'age': '19',
 'major': 'Communications',
 'name': 'Jim Halpert',
 'student ID': 'jimpam',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771592'),
 'age': '19',
 'major': 'Visual Arts',
 'name': 'Pam Halpert',
 'student ID': 'artsy4',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771593'),
 'age': '20',
 'major': 'Psychology',
 'name': 'Toby Flenderson',
 'student ID': 'hr567',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771594'),
 'age': '18',
 'major': 'Math',
 'name': 'Oscar Martinez',
 'student ID': 'actuly',
 'year': '1st year'}

In [73]:
#Exercise 6
students.delete_one({"name": "Toby Flenderson"})
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('6600f366f050139e2477158f'),
 'age': '22',
 'major': 'Business',
 'name': 'Michael Scott',
 'student ID': 'boss12',
 'year': '4th year'}
{'_id': ObjectId('6600f369f050139e24771590'),
 'age': '19',
 'major': 'Computer Science',
 'name': 'Dwight Schrute',
 'student ID': 'beats3',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771591'),
 'age': '19',
 'major': 'Communications',
 'name': 'Jim Halpert',
 'student ID': 'jimpam',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771592'),
 'age': '19',
 'major': 'Visual Arts',
 'name': 'Pam Halpert',
 'student ID': 'artsy4',
 'year': '3rd year'}
{'_id': ObjectId('6600f369f050139e24771594'),
 'age': '18',
 'major': 'Math',
 'name': 'Oscar Martinez',
 'student ID': 'actuly',
 'year': '1st year'}

In [74]:
students.delete_many({"year": "3rd year"})
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('6600f366f050139e2477158f'),
 'age': '22',
 'major': 'Business',
 'name': 'Michael Scott',
 'student ID': 'boss12',
 'year': '4th year'}
{'_id': ObjectId('6600f369f050139e24771594'),
 'age': '18',
 'major': 'Math',
 'name': 'Oscar Martinez',
 'student ID': 'actuly',
 'year': '1st year'}